*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
body{
    background-color: black;
    border-left: 30px solid  rgb(118, 132, 140);
    border-right: 30px solid  rgb(118, 132, 140);
}

header{
    
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(118, 132, 140);  
    border: 5px solid;  

}
header h1{
    text-align: center;
    font-variant: small-caps;
}

    
    

#contain{
    display:grid;
    grid-template-columns:200px 200px 200px; /*creats 3 columns*/
    grid-auto-rows:200px 200px 200px 200px; /*Creats 4 rows with 200px */
    height: 900px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    row-gap: 20px; /*Gives gap between rows*/
    column-gap: 20px; /*Gives gap between column*/
    margin-top: 20px;


    
    
   
}

.collage{
    border: 2px solid white;
   

}
div img{
    height:200px;
    width: 195px; 

}
.collage:nth-child(1) {
    grid-column-start: 1; /* Making the first img to strech for 4 column*/
    grid-column-end: 4; /* Starting from 1 and end in 4*/
    
}
.collage:nth-child(1) img{
    width:630px;
}
.collage:nth-child(4){
    grid-row-start: 2; /* Making the first img to strech for 4 rows*/ 
    grid-row-end: 4;/* Starting from 1 and end in 4*/

}
.collage:nth-child(4) img{
    height:400px;/*Adjusting img according to the strech*/
}
